---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from "../components/Navbar.svelte";
import CustomButton from "../components/CustomButton.svelte";
---

<Layout title="Astro Portal">
    <Navbar client:load />
    <CustomButton client:load />
    <div class="body">Hello World</div>
</Layout>

<style>
    .body {
        top: 100%;
    }
</style>
